web: gunicorn wsgi:app --bind 0.0.0.0:$PORT --workers 2 --threads 4 --timeout 60
worker: celery -A tasks.celery_app.celery worker -l info --pool=solo --concurrency=2
beat: celery -A tasks.celery_app.celery beat -l info